//colors
$light-red:#ffcdd2;
$red: #f44336;
$light-yellow: #ffecb3;
$yellow: #ffc107;
$dark-blue: #0f174c;

// font
$title-color: #454545;
$dark-text-color: #666666;
$text-color: #bdbdc7;
$underline: #3d4465;

// border
$border-color: #eaeaea;

// button
$nav-button-background: #222a46;
$nav-hover-background: #21263c;

// background
$nav-background: #242c48;
$background: 	#f8f9fe;