@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold.woff2') format('woff2'),
       url('../fonts//opensans-bold.woff') format('woff'),
       url('../fonts/opensans-bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bolditalic.woff2') format('woff2'),
       url('../fonts/opensans-bolditalic.woff') format('woff'),
       url('../fonts/opensans-bolditalic.ttf') format('ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-extrabold.woff2') format('woff2'),
       url('../fonts/opensans-extrabold.woff') format('woff'),
       url('../fonts/opensans-extrabold.ttf') format('ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-italic.woff2') format('woff2'),
       url('../fonts/opensans-italic.woff') format('woff'),
       url('../fonts/opensans-italic.ttf') format('ttf');;
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light.woff2') format('woff2'),
       url('../fonts/opensans-light.woff') format('woff'),
       url('../fonts/opensans-light.ttf') format('ttf');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular.woff2') format('woff2'),
       url('../fonts/opensans-regular.woff') format('woff'),
       url('../fonts/opensans-regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-semibold.woff2') format('woff2'),
       url('../fonts/opensans-semibold.woff') format('woff'),
       url('../fonts/opensans-semibold.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}