@mixin box-shadow($horizontal: 0px, $vertical: 0px, $blur: 13px, $spread: 0px, $red: 82, $green: 63, $blue: 105, $opacity: 0.05) {
  box-shadow: $horizontal $vertical $blur $spread rgba($red, $green, $blue, $opacity);
}

@mixin grid($nbColumn, $space, $grow: false, $direction: row) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $direction;

  >div, >li {
    display: flex;
    max-width: calc((100% - (#{$space} * (#{$nbColumn} - 1))) / #{$nbColumn} );
    width: calc((100% - (#{$space} * (#{$nbColumn} -1))) / #{$nbColumn});

    @if $grow {
      max-width: none;
      flex: 1 1 auto;
    }

    @if $direction == column {
      max-width: none;
      width: auto;
    }

    &:first-child:not(:only-child) {
      margin-right: $space/2;
      
      @if $nbColumn == 1 {
        margin-right: 0;
      }
    }

    &:not(:first-child):not(:last-child) {
      margin: $space $space/2 0 $space/2;

      &:nth-child( -n +  #{$nbColumn}) {
        margin-top: 0;
      }
      
      &:nth-child(#{$nbColumn}n + 1) {
        margin-left: 0;
      }

      &:nth-child(#{$nbColumn}n) {
        margin-right: 0;
      }
    }

    &:last-child:not(:only-child):not(:nth-child( -n +  #{$nbColumn})) {
      margin-top: $space;
      
      &:not(:nth-child(#{$nbColumn}n + 1)) {
        margin-left: $space/2;
      }
    }
  }
}