@import '../../assets//scss/colors.scss';
@import '../../assets//scss/mixin.scss';

.notFound {
  margin-top: 20%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  h1 {
    font-size: 15em;
    line-height: 1em;
    text-shadow: 0 2px 3px #ccc;
  }

  h2 {
    font-size: 5em;
    text-shadow: 0 2px 3px #ccc;
  }

  .button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 2%;
    line-height: 1em;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px;
    background-color: $dark-blue;
    @include box-shadow();
    transition: all .3s linear;

    &:hover {
      background-color: $yellow;
      box-shadow: none;
    }
  }
}