@import '../../../assets/scss/colors.scss';
@import '../../../assets/scss/mixin.scss';

.button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 2%;
  line-height: 1em;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  border: 0;
  background-color: $dark-blue;
  @include box-shadow();
  transition: all .3s linear;

  &:hover {
    background-color: $yellow;
    box-shadow: none;
  }
}