@import '../../assets/scss/colors.scss';
@import '../../assets/scss/mixin.scss';

.auth {
  display: flex;
  width: 100%;
  height: 100%;

  .content {
    width: 70%;
    margin: auto;
    @include grid(2, 0px);
    @include box-shadow();

    >div {
      border-radius: 5px 0 0 5px;
      overflow: hidden;
    }
  }

  img {
    min-width: 100%;
  }

  .formContainer {
    background-color: white;
    border-radius: 5px;
  }

  form {
    text-align: center;
    margin: auto;
    width: 50%;
    min-width: 400px;
  }

  h1 {
    margin-bottom: .5em;
    font-size: 2.5em;
    font-weight: 500;
  }
}